@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #002a2d;
  --sl-color-accent: #007880;
  --sl-color-accent-high: #8bd8de;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #edeeed;
  --sl-color-gray-2: #c1c2c2;
  --sl-color-gray-3: #8a8c8b;
  --sl-color-gray-4: #575858;
  --sl-color-gray-5: #373838;
  --sl-color-gray-6: #262727;
  --sl-color-black: #181818;
}

/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-accent-low: #abe3e7;
  --sl-color-accent: #007b83;
  --sl-color-accent-high: #003a3e;
  --sl-color-white: #181818;
  --sl-color-gray-1: #262727;
  --sl-color-gray-2: #373838;
  --sl-color-gray-3: #575858;
  --sl-color-gray-4: #8a8c8b;
  --sl-color-gray-5: #c1c2c2;
  --sl-color-gray-6: #edeeed;
  --sl-color-gray-7: #f6f6f6;
  --sl-color-black: #ffffff;
}
